@{
    ViewBag.Title = "About";
}
<h2>ASP.NET MVC技術課程</h2>
<h3>指導老師 蔡捷雲</h3>

<p>
    MVC 一種軟體架構模式，把系統分成三個種核心，分別為:Model, View, Controller。
    主要將網頁分成邏輯處理(物件操作)、視覺呈現與路由控制(發送、接收請求)，各種元件
    處理不同的工作，強調職責分離，開發與維護人員可以更快速對於目的與問題，找到該
    處理的程式，讓程式的修改與功能擴充簡化，提高程式可用性。
</p>
