@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">學習ASP.NET是一件很快樂的事情,ASP.NET充滿在我們的周圍,盡情地擁抱吧</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET Web Form</h2>
        <p>
            這款技術雖然目前已經停止更新,但成熟實用的特性依然在業界充滿好評,我們預估Web Form的熱潮將可繼續持續10-20年
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET MVC</h2>
        <p>針對市場的需求,我們目前已從Web Form轉移到MVC技術,在MVC架構下網站變得更容易製作而且功能強大,低流量的優點,目前是業界最受歡迎的網站技術之一</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET Core</h2>
        <p>ASP.NET的明日之星,結合WebForm的操作,MVC堅實的架構,再加上Core的跨平台演出,並且開發全部的程式碼,堪稱史上最強的伺服器應用程式</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>