@model ASP.NET_HomeWork.Models.UserData
@{
    ViewBag.Title = "SignUp";
}

<div align="center">
    <h2>註冊您的帳號</h2><br /><br />
    <form method="post" action="~/User/SignUp">
        <table >
            <tr>
                <td align="center">暱稱</td>
            </tr>
            <tr>
                <td><input type="text" name="fName" /></td>
            </tr>
            <tr>
                <td align="center"><br />帳號(電子郵件)</td>
            </tr>
            <tr>
                <td><input type="text" name="fEmail" /></td>
            </tr>
            <tr>
                <td align="center"><br />密碼</td>
            </tr>
            <tr>
                <td><input id="CPassword" name="fPassword" runat="server" type="password" placeholder="輸入密碼" /></td>
            </tr>
            <tr>
                <td align="center"><br />密碼確認</td>
            </tr>
            <tr>
                <td><input id="CPassword2" name="fPassword2" runat="server" type="password" placeholder="輸入密碼" /></td>
            </tr>
            <tr>
                <td align="center"><br /><label style='color: #FF0000'>@ViewBag.pp</label></td>
            </tr>

            <tr>
                <td align="center"><br /><br /><input type="submit" value="送出資料" /></td>

            </tr>
            <tr></tr>

        </table>
    </form>
</div>


